 
@font-face {
	font-family: SourceSansPro-Regular;
	src: url(SourceSansPro-Regular.ttf)
}

@font-face {
	font-family: SourceSansPro-Light;
	src: url(SourceSansPro-Light.ttf)
}

@font-face {
	font-family: SourceSansPro-SemiBold;
	src: url(SourceSansPro-SemiBold.ttf)
}

@font-face {
	font-family: SourceSansPro-Bold;
	src: url(SourceSansPro-Bold.ttf)
}
 