/*
*
* Light Pink
*
* Theme variables.
*
*/

html[data-color='light-pink'] {
  --primary: #e54291;
  --secondary: #ff84bf;
  --tertiary: #b42448;
  --quaternary: #751a46;
  --primary-rgb: 229, 66, 145;
  --secondary-rgb: 255, 132, 191;
  --tertiary-rgb: 180, 36, 72;
  --quaternary-rgb: 131, 34, 81;

  --primary-darker: #be3779;
  --secondary-darker: #ce6899;
  --tertiary-darker: #7e1932;
  --quaternary-darker: #531332;

  --body: #4e4e4e;
  --alternate: #7c7c7c;
  --muted: #afafaf;
  --separator: #dddddd;
  --separator-light: #f1f1f1;
  --body-rgb: 59, 59, 59;
  --alternate-rgb: 124, 124, 124;
  --muted-rgb: 176, 176, 176;
  --separator-rgb: 221, 221, 221;
  --separator-light-rgb: 241, 241, 241;

  --background: #f9f9f9;
  --foreground: #ffffff;
  --background-rgb: 249, 249, 249;
  --foreground-rgb: 255, 255, 255;

  --background-theme: #f1eaee;
  --background-light: #f8f8f8;

  --gradient-1: #e14d95;
  --gradient-2: #e9519b;
  --gradient-3: #f154a1;

  --gradient-1-darker: #cc4486;
  --gradient-2-darker: #d84c8f;
  --gradient-3-darker: #d64b8e;

  --light-text: #fff;
  --dark-text: #343a40;
  --light-text-darker: #eeeeee;
  --dark-text-darker: #23272b;

  --light-text-rgb: 255, 255, 255;
  --dark-text-rgb: 52, 58, 64;

  --danger: #cf2637;
  --info: #279aac;
  --warning: #ebb71a;
  --success: #439b38;
  --light: #dadada;
  --dark: #4e4e4e;
  --danger-darker: #771a23;
  --info-darker: #19545d;
  --warning-darker: #aa830f;
  --success-darker: #285422;
  --light-darker: #c9c9c9;
  --dark-darker: #282828;
  --body-darker: #333333;
  --alternate-darker: #616161;
  --muted-darker: #888888;
  --separator-darker: #c0c0c0;

  --danger-rgb: 182, 40, 54;
  --info-rgb: 41, 138, 153;
  --warning-rgb: 235, 183, 26;
  --success-rgb: 65, 139, 56;
  --light-rgb: 218, 218, 218;
  --dark-rgb: 78, 78, 78;

  --menu-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12);
  --menu-shadow-navcolor: 0px 2px 6px rgba(0, 0, 0, 0.05);

  --background-navcolor-light: #fff;
  --background-navcolor-dark: #462e3a;

  --theme-image-filter: hue-rotate(130deg) contrast(0.9);
}
