/*
*
* Light Purple
*
* Theme variables.
*
*/

html[data-color='light-purple'] {
  --primary: #9653cd;
  --secondary: #ba7feb;
  --tertiary: #922692;
  --quaternary: #5d2872;
  --primary-rgb: 150, 83, 205;
  --secondary-rgb: 186, 127, 235;
  --tertiary-rgb: 146, 38, 146;
  --quaternary-rgb: 93, 40, 114;

  --primary-darker: #7541a0;
  --secondary-darker: #9868c0;
  --tertiary-darker: #691c69;
  --quaternary-darker: #391846;

  --body: #4e4e4e;
  --alternate: #7c7c7c;
  --muted: #afafaf;
  --separator: #dddddd;
  --separator-light: #f1f1f1;
  --body-rgb: 59, 59, 59;
  --alternate-rgb: 124, 124, 124;
  --muted-rgb: 176, 176, 176;
  --separator-rgb: 221, 221, 221;
  --separator-light-rgb: 241, 241, 241;

  --background: #f9f9f9;
  --foreground: #ffffff;
  --background-rgb: 249, 249, 249;
  --foreground-rgb: 255, 255, 255;

  --background-theme: #efeaf1;
  --background-light: #f8f8f8;

  --gradient-1: #8c55b9;
  --gradient-2: #955ac5;
  --gradient-3: #9b5ecd;

  --gradient-1-darker: #7d4ca5;
  --gradient-2-darker: #814eaa;
  --gradient-3-darker: #8a55b6;

  --light-text: #fff;
  --dark-text: #343a40;
  --light-text-darker: #eeeeee;
  --dark-text-darker: #23272b;

  --light-text-rgb: 255, 255, 255;
  --dark-text-rgb: 52, 58, 64;

  --danger: #cf2637;
  --info: #279aac;
  --warning: #ebb71a;
  --success: #439b38;
  --light: #dadada;
  --dark: #4e4e4e;
  --danger-darker: #771a23;
  --info-darker: #19545d;
  --warning-darker: #aa830f;
  --success-darker: #285422;
  --light-darker: #c9c9c9;
  --dark-darker: #282828;
  --body-darker: #333333;
  --alternate-darker: #616161;
  --muted-darker: #888888;
  --separator-darker: #c0c0c0;

  --danger-rgb: 182, 40, 54;
  --info-rgb: 41, 138, 153;
  --warning-rgb: 235, 183, 26;
  --success-rgb: 65, 139, 56;
  --light-rgb: 218, 218, 218;
  --dark-rgb: 78, 78, 78;

  --menu-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12);
  --menu-shadow-navcolor: 0px 2px 6px rgba(0, 0, 0, 0.05);

  --background-navcolor-light: #fff;
  --background-navcolor-dark: #3d3246;

  --theme-image-filter: hue-rotate(64deg) contrast(0.9);
}
